<div class="block my-6 w-[95%]">
    <div class="basis flex flex-row gap-4">
            <a [href]="project().url ? project().url : project().repo"  target="_blank"  rel="noopener noreferrer" class="hover:text-dense_water_primary ease-in duration-150">
                <h3 class="font-bold text-dense_water_primary leading-6">
                    {{ project().name}}
                </h3>
            </a>
            @if(project().repo) {
                <a [href]="project().repo" target="_blank" rel="noopener noreferrer"  class="hover:text-dense_water_primary ease-in duration-150">
                    <span>
                        <fa-icon [icon]="github"></fa-icon>
                    </span>
                </a>
            }
            @if(project().url) {
                <a [href]="project().url" target="_blank" rel="noopener noreferrer"  class="hover:text-dense_water_primary ease-in duration-150">
                <span>
                    <fa-icon [icon]="link"></fa-icon>
                </span>
                </a>
            }
    </div>
    <div class="flex py-4">
        <p class=" text-wrap text-sm font-light showcase-description leading-8">
            {{ project().description}}
        </p>
    </div>
    <div class="flex flex-row gap-6 py-3 flex-wrap">
        @for(tool of project().stack; track tool) {
            <div class="pill">
                <span class="">
                    {{ tool }}
                </span>
            </div>
        }
    </div>
</div>