<div class="block">
    <div class="basis">
        <a href="">
            <h3 class="font-bold leading-6">
                {{ project().name}}
            </h3>
        </a>
    </div>
    <div class="flex">
        {{ project().description}}
    </div>
    <div class="flex flex-row gap-6 py-3">
        @for(tool of project().stack; track tool) {
            <div class="pill">
                <span class="text-xs leading-8">
                    {{ tool }}
                </span>
            </div>
        }
    </div>
</div>