<div class="relative">
    <h2 class="text-lg font-semibold">About me</h2>
    <p class="text-sm py-1 text-wrap font-light leading-8">
        I am a passionate and results-driven software engineer specializing in web and chatbot development, with a strong track record of delivering innovative solutions that enhance user experiences and drive organizational growth. With extensive experience leading the design and implementation of scalable platforms and cutting-edge technologies, I excel in creating impactful digital products for diverse industries.
    </p>
    <p  class="text-sm py-1 text-wrap font-light  leading-8">
        From pioneering conversational AI solutions using large language models to scaling banking platforms to serve millions of users across multiple countries, my work is defined by a commitment to excellence and a focus on collaboration. My expertise spans end-to-end software development, team leadership, and localization for diverse markets, ensuring inclusive and user-friendly applications.
    </p>
    <p  class="text-sm py-1 text-wrap font-light  leading-8">
        I thrive on solving complex problems, mentoring teams, and pushing the boundaries of what technology can achieve. Whether streamlining branch services for 500+ locations or optimizing web performance by 40%, I am driven by a passion for crafting meaningful, high-quality digital experiences. Let's build something amazing together!
    </p>
</div>