
    <div
      class="md:flex md:flex-row p-3 h-full w-full border-[0.5px] border-solid rounded-md border-dense_water_primary
      md:justify-start md:items-center bg-gradient-royal cursor-pointer">
      <div class="p-2">
        <h3 class="font-bold text-lg text-dense_water_primary pb-3">{{ experience().title }}</h3>
        <h6 class="text-base font-semibold">
          {{ experience().organization }}
        </h6>
        <p class="text-xs  pb-5">{{ experience().date }}</p>
        <p class="md:max-h-36 max-h-48 text-sm overflow-y-auto  text-wrap font-light">{{ experience().achievements }}</p>
        <div class="flex flex-row flex-wrap gap-2 pt-8">
          @for (tool of experience().stack; track tool) {
            <div class="pill">
              <span class="">
                {{ tool }}
              </span>
            </div>
          }
        </div>
      </div>
    </div>

