<section class="pb-5 px-0 pt-3 lg:pt-0">
    <h1 class="text-2xl mb-2 text-grey-50 font-bold" >Emmanuel Macharia</h1>
    <div class="container m-0 py-2">
        <p class="text-lg text-grey-50 text-bold leading-6 text-dense_water_primary">Software Engineer</p>
        <div class="min-w-[100%] ">
            <div class="text-sm flex flex-row items-center" #backend>
                <span #backendText></span> 
                <div #terminal class="console-underscore">
                    &#95;
                </div>
            </div>
            <!-- <div class="chips ai-chip text-xs bg-gradient-dense-water rounded-md p-2  w-44 flex  items-center" #aiText>
                Machine Learning & AI
            </div> -->
        </div>
    </div>
    <div class="contaiener block mt-4 size-[90%] pb-6" >
        <p class="text-xs mt-3 text-wrap text-grey-50 font-semibold ">I build <br /> software solutions <br /> </p>
        <div class="rotation p-0 m-0 leading-none">
            @for(tag of taglines; track tag) {
                <span class="text-xs font-light text-wrap size-[90%]">{{tag}}. </span>
            } 
        </div>
    </div>

    <section class="contact lg:hidden py-3">
        <div class="contacts my-2">
          <app-contact />
      </div>
</section>