<section class="py-5 px-0 size-[80%]">
    <h1 class="text-2xl my-2 text-grey-50" >Emmanuel Macharia</h1>
    <div class="container flex flex-row m-0 py-1 gap-4 flex-wrap">
        <p class="text-sm text-grey-50">Software Engineer</p>
        <div class="chips-container stack flex flex-row gap-2 flex-wrap">
            <div class="chips frontend-chip text-sm bg-gradient-atlas rounded-md px-3  flex  items-center">
                Frontend
            </div>
            <div class="chips backend-chip text-sm px-3 bg-gradient-royal flex flex-row rounded-md border w-24 items-center" #backend>
                <span #backendText></span> 
                <div #terminal class="console-underscore">
                    &#95;
                </div>
            </div>
            <div class="chips ai-chip text-sm bg-gradient-dense-water rounded-md px-3  w-36 flex  items-center" #aiText>
                Machine Learning & AI
            </div>
        </div>
    </div>
    <div class="contaiener block p-0" >
        <p class="text-xs font-light my-3 text-wrap text-grey-50 rotation  size-[80%]">I build software solutions
            @for(tag of taglines; track tag) {
                <span class="text-xs font-light text-wrap ">{{tag}}. </span>
            }
        </p> 
    </div>

    
    <div class="contacts my-2">
        <app-contact />
    </div>
</section>