<div class="flex flex-row justify-start gap-4">
   <div class="pill-item">
    <a [href]="contactOptions.github.link" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="github"></fa-icon>
    </a>
   </div>
   <div class="pill-item">
    <a [href]="contactOptions.linkedIn.link" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="linkedIn"></fa-icon>
    </a>
   </div>
   <div class="pill-item">
    <a [href]="contactOptions.discord.link" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="discord"></fa-icon>
    </a>
   </div>
   <div class="pill-item">
    <a [href]="contactOptions.twitter.link" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="twitter"></fa-icon>
    </a>
   </div>
</div>
