<main class="mx-4 text-red-500 overflow-y-hidden text-color_white" >
  <section class="flex introduction p-3 w-1/3 fixed">
    <app-introduction />
  </section>

  <section class="main container">
    <div class="flex flex-row">
      <div class="navigation basis-1/3">
        <section class="nav fixed items-center top-1/3 p-3">
          <app-navigation />
        </section>
      </div>
      <div class="content basis-3/5" id="about">
        <section class="display-flex about py-5 px-3">
          <app-about />
        </section>
      
        <section class="display-flex skills py-5 px-3" id="skills">
          <app-skills />
        </section>
      
        <section class="display-flex experience py-5 px-3" id="experience">
          <app-experience />
        </section>
      
        <section class="display-flex showcase py-5 px-3" id="projects">
          <app-showcase />
        </section>
      </div>
    </div>
  </section>
</main>
<router-outlet />
