main {
    position: relative;
    height: calc(100%);
}

.content{
    .about, .showcase {
        @media screen and (max-width: 768px){     
            width: calc(100vw - 2rem);
        }
    }
}

.solid {
    background-color: var(--dense-water-primary);
    opacity: 0.25;
}