<div class="container py-8">
    <div class="flex flex-column gap-10 justify-start flex-wrap">
        @for(cat of categories; track cat) {
            <div class="category">
                <div class="skills-section">
                    <p class="font-semibold text-dense_water_primary">
                        {{ cat }}:
                        @for(i of sections.get(cat); track i){
                            <span class="text-sm text-color_white font-light">{{i}}, </span>
                        }
                    </p>
                </div>
            </div>
        }
    </div>
</div>