@use './theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {


}

html,
body {
  margin: 0;
  scroll-behavior: smooth;

  // overrides
  .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--dense-water-primary);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 1.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    min-width: 2rem;
    font-size: 0.6rem;
  }
  
  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  ::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
  }

  ::-webkit-scrollbar-button{}

  ::-webkit-scrollbar-thumb{
    @media screen and (max-width > 768px) {
      height: 5rem;
      border-radius: 5px;
      margin: 0 auto;
    }
  }

  ::-webkit-scrollbar-track{
    background: var(--royal-secondary);
  }


}
